@font-face {
	font-family: 'HK Grotesk';
	src: url("../fonts/HKGrotesk-Regular.woff") format("woff"),
		url("../fonts/HKGrotesk-Regular.woff2") format("woff2"),
		url("../fonts/HKGrotesk-SemiBold.ttf") format("ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HK Grotesk';
	src: url("../fonts/HKGrotesk-SemiBold.woff") format("woff"),
		url("../fonts/HKGrotesk-SemiBold.woff2") format("woff2"),
		url("../fonts/HKGrotesk-SemiBold.ttf") format("ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HK Grotesk';
	src: url("../fonts/HKGrotesk-Bold.woff") format("woff"),
		url("../fonts/HKGrotesk-Bold.woff2") format("woff2"),
		url("../fonts/HKGrotesk-Bold.ttf") format("ttf");
	font-weight: normal;
	font-style: normal;
}

@mixin grotesk {
	font-family: 'HK Grotesk', sans-serif
}